# Gradle
.gradle/
build/
app/build/
*/build/

local.properties

.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/

# Keystores
*.jks
*.keystore

# Logs
*.log

# Reportes
build/reports/

*.apk
*.aab
*.ap_
*.dex

# Captures de perfiling
captures/
